body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tags {
  margin: 10vh auto;
  flex: 0 0 auto;
  text-align: center;
  width: 70vh;
  height: 70vh;
}
.tags__title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}
.tags__ui {
  margin-bottom: 20px;
}
.tags__body {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tags__item {
  margin: 2px;
  cursor: pointer;
  background-color: black;
  position: relative;
}
.tags__item::before {
  content: attr(data-num);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(134, 58, 141);
  font-size: 2em;
}
.tags__bg {
  background: url("../img/confused.png") center center/100% no-repeat;
  display: none;
  width: 100%;
  height: 100%;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.ui__btn {
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 10px;
}
.annotation {
  margin-left: 20px;
  font-size: 40px;
  flex: 1 1 auto;
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 30%;
}