body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.dark {
  background-color: black;
}

.change_theme {
  position: fixed;
  top: 0;
  left: 80%;
  background-color: rebeccapurple;
  padding: 2px 5px;
  border: 1px dashed gray;
  border-top: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.change_theme:hover {
  opacity: 0.75;
}
.change_theme:active {
  opacity: 0.5;
}

.tag {
  width: 80vh;
  height: auto;
  margin: 10px auto;
  background-color: rgb(231, 223, 223);
  padding: 10px;
}
.tag__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 40px;
  color: rebeccapurple;
}
.tag__ui {
  margin-bottom: 15px;
}
.tag__body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}
.tag__canvas {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 5s ease 0s;
}
.tag__win {
  display: none;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.tag__win img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.ui-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rebeccapurple;
}
.ui-tag__btn {
  padding: 5px 10px;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ui-tag__btn:hover {
  opacity: 0.75;
}
.ui-tag__btn:active {
  opacity: 0.5;
}
.ui-tag__vol .volume {
  cursor: pointer;
  width: 30px;
  padding-top: 100%;
  position: relative;
}
.ui-tag__vol .volume:hover {
  opacity: 0.75;
}
.ui-tag__vol .volume:active {
  opacity: 0.5;
}
.ui-tag__vol .volume img {
  z-index: 1;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.ui-tag__vol .novolume {
  position: relative;
}
.ui-tag__vol .novolume::before, .ui-tag__vol .novolume::after {
  z-index: 3;
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 30px;
  height: 1px;
  background: red;
}
.ui-tag__vol .novolume::before {
  transform: translate(50%, 0) rotate(45deg);
}
.ui-tag__vol .novolume::after {
  transform: translate(50%, 0) rotate(-45deg);
}