body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&.dark{
		background-color: black;
	}
}
.change_theme{
	position: fixed;
	top: 0;
	left: 80%;
	background-color: rebeccapurple;
	padding: 2px 5px;
	border: 1px dashed gray;
	border-top: none;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	&:hover{
		opacity: 0.75;
	}
	&:active{
		opacity: 0.5;
	}
}

.tag {
	width: 80vh;
	height: auto;
	margin: 10px auto;
	background-color: rgb(231, 223, 223);
	box-shadow: 1px 1px 1px gray, 2px 2px 2px black;
	border: 1px solid rebeccapurple;
	border-radius: 5px;
	padding: 10px;
	// .tag__title
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

		font-size: 40px;
		color: rebeccapurple;
	}

	// .tag__ui
	&__ui {
		margin-bottom: 15px;
	}
	
	// .tag__body
	&__body {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2px;
	}

	&__canvas {
		width: 100%;
		position: relative;
		cursor: pointer;
		transition: all 5s ease 0s;
	}

	// .tag__win
	&__win {
		display: none;
		width: 100%;
		padding-top: 100%;
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}
}

.ui-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	color: rebeccapurple;
	// .ui-tag__btn
	&__btn {
		padding: 5px 10px;
		border: 1px solid rebeccapurple;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover{
			opacity: .75;
		}
		&:active{
			opacity: .5;
		}
	}

	// .ui-tag__vol
	&__vol {
		.volume{
			cursor: pointer;
			width: 30px;
			padding-top: 100%;
			position: relative;
			&:hover{
				opacity: .75;
			}
			&:active{
				opacity: .5;
			}
			img{
				z-index: 1;
				position: absolute;
				width: 70%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				object-fit: cover;
			}
		}

		.novolume{
			position: relative;
			&::before, &::after{
				z-index: 3;
				content: "";
				position: absolute;
				top: 50%;
				left: -50%;
				width: 30px;
				height: 1px;
				background: red;
			}
			&::before{
				transform: translate(50%, 0) rotate(45deg);
			}
			&::after{
				transform: translate(50%, 0) rotate(-45deg);
			}
		}
	}

	// .ui-tag__timer
	&__timer {
	}
}

