body {
	display: flex;
}
.tags {
	width: 100vh;
	height: 100vh;
}
.tags__bg {
	background: url("./img/confused.png") center center / 100% no-repeat;
	display: none;
	width: 100vh;
	height: 100vh;
}
.tags__body {
	flex: 0 0 auto;
	display: grid;
	width: 50vh;
	height: 50vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* display: none; */
}
.tags__item {
	margin: 2px;
	cursor: pointer;
	background-color: black;
	position: relative;
}
.tags__item::before{
	content: attr(data-num);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	color: rgb(134, 58, 141);
	font-size: 2em;
}

.tags__ui {
}
.ui {
}
.ui__btn {
}
.ui__timer {
}


.annotation{
	margin-left: 20px;
	font-size: 40px;
	flex: 1 1 auto;
	width: 100%;
}
.buttons{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
button {
	width: 30%;
}